/*  contacto */
#contacto{
    background-color: #ffffff;
    position: relative;
    width: 100%;
    min-height: 100vh;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -transition: all ease 1s;
    transition: all ease 1s;
}

.contactoDiv .row .colContact{  
    width: 100%;
    min-height: 50vh;
}

#email{
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    background: #ffffff;
}

#email >a{
    color: black;
}

.colContact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContacto1{
    box-shadow: none !important;
    margin: 1px;
    background: #ffffff;
    border: none !important;
}

.card-title{
    text-align: center;
    line-height: 1.2em;
}

.card-text{
    line-height: 1.5em;
    font-size: 20px;
}

p {
    margin: auto;
    margin-top: 30px;
    /* text-align: center; */
}

.logo{
    margin: auto;
    margin-top: 30px;
    display: block;
    height: 50px;
}

label{
    font-weight: bold;
}

