@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.split {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #4D9FAB;
}

.left2 {
  left: 20%;
  background-color: #65afba;
}

.mid {
  left: 40%;
  background-color: #7ec0c9;
}

.right {
  right: 20%;
  background-color: #97d0d8;
}

.right2 {
  right: 0;
  background-color: #afe0e7;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 10rem;
  margin-bottom: 2rem;
}

.centered h2 {
  font-family: 'Nunito Sans', sans-serif;
  color: #FBFBFB;
}

.centered p {
  font-family: 'Montserrat', sans-serif;
  color: #BCBEBD;
}
