@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    font-family: 'Montserrat', sans-serif;
    margin: 5rem auto;
    font-size: 1rem;
}

.boxHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}

.logoCepBroggi {
    display: flex;
    width: 27rem;
}

.titleGTA {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 2.3rem;
    width: 30rem;
    padding-left: 2.5rem;
    border-left: 1px solid rgba(0,0,0,0.125);
}

.logo {
    padding: 2.5rem;
    border-right: 1px solid rgba(0,0,0,0.125);
    width: 25rem;
    border-radius: 0%;
}

.boxTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 2.3rem;
    text-align: center;
    margin: 2rem 0rem 1rem 0rem;
}

.btnAceptar, .btnCancelar {
    color: white;
    font-size: 1rem;
    border: 0;
}

.btnAceptar {
    background-color: #4d9fab;
    margin-right: 1rem;
}

.btnAceptar:hover, .btnAceptar:active {
    border: 1px solid #4d9fab;
    background-color: white;
    color: #4d9fab;
}

.btnCancelar {
    background-color: #afe0e7;
}

.btnCancelar:hover, .btnCancelar:active {
    border: 1px solid #afe0e7;
    background-color: white;
    color: #afe0e7;
}

.form-group {
    margin-bottom: 0.7rem;
}
